@import '../../styles/Variables';

.root-panel-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: $gradient;
  background-size: cover;

  .active {
    box-shadow: 0 0 15px $secondary-text;
  }

  .container {
    display: flex;
    max-height: 100%;
    flex: 1;
    overflow: hidden;
    border-bottom: 1px solid;
  }

  .list,
  .selected {
    flex: 1;
  }

  .list {
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid;
    perspective: 1000px;
    color: $secondary-text;
  }

  .selected {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

