@import '../../styles/Variables';

.notfound-wrapper {
    display: flex;
    font-family: verdana;
    align-items: center;
    flex-direction: column;
    padding: $margin 0;
    .title {
        font-size: 80px;
    }
    .explanation {
        font-size: 30px;
    }
    span {
        color: $warning;
        font-weight: bold;
    }
}