
$main-color: #1D053A;
$primary-color: #000000;
$primary-text: #212121;
$secondary-color: #313773;
$secondary-text: #F5F5F5;
$text-shadow: #212121;

$decoration: #B2EBF2;

// outdated theme
// $primary-color: #556677;
// $main-color: #6C7A89;
// // $primary-color: #2196F3;
// $primary-text: #212121;
// $secondary-color: #3F51B5;
// $secondary-text: #F5F5F5;
// $text-shadow: #212121;
// $decoration: #B2EBF2;