
$main-color: #1D053A;
$primary-color: #000000;
$primary-text: #212121;
$secondary-color: #313773;
$secondary-text: #F5F5F5;
$text-shadow: #212121;

$decoration: #B2EBF2;

$gradient: linear-gradient(#000, #262A38);
