@import '../../styles/Variables';
@import '../../styles/Responsive';

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $gap;
    background: $primary-color;
    color: #ffffff;
    box-sizing: border-box;
    @include below($tablet-landscape) {
        flex-direction: column;
        align-items: center;
    }
}