@import '../../styles/Variables';

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $gap;
    background: $primary-color;
    color: #ffffff;
    box-sizing: border-box;
}