@import '../../styles/Variables';

.wrapper {
    display: inline-flex;
    border: 1px solid #6C7A89;
    flex-direction: column;
    margin: 1em;
    padding: 10px;
    cursor: pointer;
    background: $primary-color;
}

.wrapper:hover {
    border-color: #DADFE1;
}