@import '../../styles/Variables';

.person-card {
    position: relative;

    display: inline-flex;
    flex-direction: column;
    margin: 1em;
    padding: 10px;
    cursor: pointer;
    background: $primary-color;
    border: 1px solid $secondary-color;
    transform-style: preserve-3d;
    transition: .3s transform;
    border-radius: 5px;
    color: $secondary-text;
    &:hover {
	    transform: rotateY(20deg);
    }
}
