@import '../../styles/Variables';

.footer {
    background-color: $accent-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $margin 0;
    img {
        max-width: 10%;
        transition: filter .15s;
        &:hover {
            filter: drop-shadow(0px 0px  5px $secondary-text)
        }
    }
    &-social {
        width: 100%;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        a {
            width: 50px;
            height: 50px;
            display: flex;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            text-decoration: none;
            color: $primary-text;
            transition: color .1s;
            &:hover {
                color: $secondary-text
            }
        }
    }

    &-copyright {
        display: flex;
        justify-content: center;
        padding: $padding 0;
        a {
            text-decoration: none;
            color: $secondary-text
        }
    }
}