@import '../../styles/Variables';
@import '../../styles/Responsive';

.app-container {
	display: flex;
	flex-direction: column;
    min-width: 100vw;
    .container {
    	flex: 1;
    }
    @include below($tablet-landscape) {
        border: 1px solid $primary-color-disabled;
    }
    @include above($tablet-landscape) {
        border: 1px solid $secondary-color;
    }
}